<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>COEUS</string>
		<string>Diseasecard</string>
		<string>i2x</string>
		<string>WAVe</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>userIconName</key>
	<string>Flag</string>
</dict>
</plist>
