<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countingGoal</key>
	<dict>
		<key>counterIdentifier</key>
		<string>words</string>
		<key>targetResult</key>
		<integer>3000</integer>
		<key>type</key>
		<string>close_to</string>
	</dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Abstract.md</string>
		</array>
		<array>
			<string>introduction.md</string>
		</array>
		<array>
			<string>background.md</string>
		</array>
		<array>
			<string>methods.md</string>
		</array>
		<array>
			<string>results &amp; discussion.md</string>
		</array>
		<array>
			<string>conclusion.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Next</string>
</dict>
</plist>
